.ItemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background-color: #A8E6CF;
    width: 100%;
    min-height: 30vh;
    border: 10px solid #FDFFAB;
    padding: 2rem;
    
}